@font-face {
    font-family: "Agatho";
    src: url('./../assets/fonts/Agatho_ RegularCAPS.otf');
}

@font-face {
    font-family: "Montserrat";
    src: url('./../assets/fonts/Montserrat-Regular.ttf');
}

* {
    font-family: "Montserrat", serif;
}

body {
    background-color: #F8F6F0;
}

.navbar {
    background-color: #F8F6F0;
}

.font-style-agatho {
    font-family: "Agatho", serif;
}
