@font-face {
    font-family: "NeueHaas Bold";
    src: url('./../assets/fonts/NeueHaasDisplayBold.ttf');
}

@font-face {
    font-family: "NeueHaas Regular";
    src: url('./../assets/fonts/NeueHaasDisplayRegular.ttf');
}

@font-face {
    font-family: "NeueHaas Light";
    src: url('./../assets/fonts/NeueHaasDisplayLight.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('./../assets/fonts/Montserrat-Regular.ttf');
}

* {
    font-family: "Montserrat", serif;
}

body {
    background-color: #F8F6F0;
}

.navbar {
    background-color: #F8F6F0;
}

.font-style-neueHaas-bold {
    font-family: "NeueHaas Bold", serif;
}

.font-style-neueHaas-regular {
    font-family: "NeueHaas Regular", serif;
}

.font-style-neueHaas-light {
    font-family: "NeueHaas Light", serif;
}
